body {
    font-family: 'Arial', sans-serif; /* đổi font chữ */
    background-color: #000000; /* đổi nền thành đen */
    color: #ffffff; /* đổi chữ sang màu trắng */
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
	}